.stopwatch{
    width: 300px;
    background-color: #ffce47;
    border-radius: 5px;
    box-shadow: 0 4px rgba(0, 0, 0, 0.75) 0 0 1px rgba(0, 0, 0, 0.15);
    
    }
    .controls{
    display: flex
    }
    button{
    flex-grow: 1;
    margin: 0 5px 4px;
    padding:5px 0;
    border-radius: 5px;
    box-shadow: 0 4px rgba( 0, 0, 0, 0.75);
    border:0;
    outline:0;
    font-size: 10px;
    color: white;
    }
    .start{
    background-color: #288ac5;
    }
    .start:hover{
        background-color: dodgerblue;
    }
    .stop{
    background-color: #f7723a;
    }
    .stop:hover{
    background-color: coral
    }
    .display{
    
    }