/* ======= BASICS ======== */
html {
font-family: 'Asap', sans-serif;
}

body {
	display: flex;
	min-height: 100vh;
	flex-direction: column;
}

main {
	flex: 1 0 auto;
}

nav {
    color: #fff;
    background-color: #FCA743;
    width: 100%;
    height: 70px;
    padding: 5px 0;
    line-height: 56px;
    margin-bottom: 15px;
}

.page-footer {
    padding: 15px;
    color: #fff;
    background-color: #555;
}

/*@media only screen and (max-width: 992px) {
	.page-footer {
		position: fixed;
		bottom: 0;
		width: 100%;
		z-index: 1000;
	}
}*/

.preloader-background {
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: #eee;
	
	position: fixed;
	z-index: 100;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;	
}

.row {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0px;
}

.box{
	box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 3px 1px -2px rgba(0,0,0,0.12), 0 1px 5px 0 rgba(0,0,0,0.2);
}

.card .card-content {
    padding: 15px 25px;
    border-radius: 0 0 2px 2px;
}

.sidenav {
	background-color: #ffce47;
}

.sidenav li>a {
    color: #735042;
    display: block;
    font-size: 25px;
    font-weight: 500;
    height: 48px;
    line-height: 48px;
    padding: 0 32px;
}

.rightCol{
	padding: 15px 25px !important;
}



/* ======= IMAGE EDTTS ======= */ 


.row .col.m4 {
    margin-left: auto;
    left: auto;
    right: auto;
    padding: 0px;
    margin-bottom: -5px;
}

/* ======= TYPOGRAPHY ======== */
h5 {
    font-size: 1.64rem;
    line-height: 1.7rem;
    margin: 1.0933333333rem 0 .656rem 0;
}

h6 {
    font-size: 1rem;
    line-height: .75rem;
    margin: .7666666667rem 0 .46rem 0;
}

.copyright {
	font-size: 10px;
	color:#666;
}

.descript {
	font-size: 10px;
}

.info_input{
	font-size: 25px;
}

/* ======= MAP ======== */
#map {
	/* width: 100%; */
	height: 400px;
	background-color: grey;
	margin-top: 10px;
}

@media only screen and (max-width: 992px) {
	#map {
	height: 300px;
	}
}

/* ======= TIMER ======== */

#timer{
	font-size: 8em;
}

.stopwatch{
	width: 300px;
	border-radius: 5px;
	padding: 15px;
	margin: 5px 270px;
	}

	.controls{
	display: flex;
	}
	button{
	flex-grow: 1;
	margin: 0 5px 4px;
	padding:5px 0;
	border-radius: 5px;
	box-shadow: 0 4px rgba( 0, 0, 0, 0.75);
	border:0;
	outline:0;
	font-size: 16px;
	color: white;
	font-weight: bold;
	}
	.start{
	background-color: #288ac5;
	}
	.start:hover{
		background-color: dodgerblue;
	}
	.start:active{
		margin-bottom:0;
		margin-top:4px;
		box-shadow: none;
	}
	.stop{
	background-color: #f7723a;
	}
	.stop:hover{
	background-color: coral
	}
	.stop:active{
		margin-bottom:0;
		margin-top:4px;
		box-shadow: none;
	}
	.reset{
		background-color: #FCA743
	}
	.reset:hover{
		background-color:  #fdb864
	}
	.reset:active{
		margin-bottom:0;
		margin-top:4px;
		box-shadow: none;
	}
	#lap{
		background-color: #ffce47
	}
	#lap:hover{
		background-color: #ffd362
	}
	#lap:active{
		margin-bottom:0;
		margin-top:4px;
		box-shadow: none;
	}
	#laps{
		font-size: 25px;
		font-family: sans-serif;
		text-align: center;
		margin-top: 10px;
	}
	#Arrived{
		background-color: #ffce47
	}
	#Arrived:hover{
		background-color: #ffd362
	}
	#Arrived:active{
		margin-bottom:0;
		margin-top:4px;
		box-shadow: none;
	}
	#Ordered{
		background-color: #ffce47
	}
	#Ordered:hover{
		background-color: #ffd362
	}
	#Ordered:active{
		margin-bottom:0;
		margin-top:4px;
		box-shadow: none;
	}
	#Pickedup{
		background-color: #ffce47
	}
	#Pickedup:hover{
		background-color: #ffd362
	}
	#Pickedup:active{
		margin-bottom:0;
		margin-top:4px;
		box-shadow: none;
	}
	#Startingmeal{
		background-color: #ffce47
	}
	#Startingmeal:hover{
		background-color: #ffd362
	}
	#Startingmeal:active{
		margin-bottom:0;
		margin-top:4px;
		box-shadow: none;
	}
	#Finishedmeal{
		background-color: #ffce47
	}
	#Finishedmeal:hover{
		background-color: #ffd362
	}
	#Finishedmeal:active{
		margin-bottom:0;
		margin-top:4px;
		box-shadow: none;
	}

	#Onrouteback{
		background-color: #ffce47
	}
	#Onrouteback:hover{
		background-color: #ffd362
	}
	#Onrouteback:active{
		margin-bottom:0;
		margin-top:4px;
		box-shadow: none;
	}
	#Arrived2{
		background-color: #ffce47
	}
	#Arrived2:hover{
		background-color: #ffd362
	}
	#Arrived2:active{
		margin-bottom:0;
		margin-top:4px;
		box-shadow: none;
	}
	.display{
	font-size: 50px;
	font-family: sans-serif;
	text-align: center;
	margin-top: 10px;
	}
	.minutes:not(:last-child):after{
		content: ':';
	}
	.seconds:not(:last-child):after{
		content: ':';
	}
/* timer style */